@import 'variables';
@import 'mixins';
@import 'reset';

* {
  box-sizing: border-box;
  color: $dimgray;
  font-family: 'Spartan', sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

// loading-page
.loading-content {
  padding-top: 20%;
}

.content {
  @include font(1.5em);
  text-align: center;
}

.travel-quote {
  @include font(1.3rem);
  color: $dimgray;
  font-weight: 300;
  letter-spacing: .17rem;
  margin-top: 1rem;
  padding: .5rem;
}

.title {
  @include font(300%);
  font-family: 'Playfair Display', sans-serif;
  margin-bottom: 2rem;
}

.form-container {
  display: flex;
  height: 23.9rem;
  justify-content: center;
}

form {
  border: 1.5px solid $lightergray;
  border-style: inset;
  display: grid;
  grid-template-areas:
  "left right";
  grid-template-columns: 1fr 1fr;
  height: 24.34rem;
}

.travel-image-container {
  grid-area: left;
}

.travel-image {
  height: auto;
  width: 19.28rem;
}

.login-container {
  background: linear-gradient(0deg, $peanut 1%, $pistachio 100%);
  display: flex;
  flex-direction: column;
  grid-area: right;
  height: 24.1rem;
  justify-content: space-around;
  padding: 2rem;
}

.login-title {
  @include font(1.5rem);
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
}

.line {
  display: flex;
  margin-bottom: 4.5rem;
  width: 90%;
}

label {
  @include font(70%);
  font-family: 'Spartan', sans-serif;
}

.password,
.username {
  @include font(1rem);
  background-color: inherit;
  border-style: none;
  border-bottom: .01rem solid $dimgray;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-transform: lowercase;
  width: 100%;
}

.submit-user-info,
.book-trip,
.aprove-button,
.delete-button {
  @include font(1rem);
  background-color: $dimgray;
  border: .5px solid $dimgray;
  border-style: inset;
  color: white;
  padding: .5rem;
  width: 60%;
}

button:hover {
  background-color: #93312A;
  border: .5px solid $dimgray;
  border-style: inset;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: .3s;
  opacity: .7;
}

.invalid-login-message,
.placeholder {
  @include font(.9rem);
  color: #93312A;
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
}

.placeholder {
  opacity: 0;
}

// Traveler Access Page
.user-page-header {
  display: flex;
  flex-direction: column;
}

.welcome-message {
  @include font(4rem);
  font-family: 'Playfair Display', sans-serif;
  margin-top: 2rem;
}

.book-trip {
  align-self: flex-end;
  margin: .5rem;
  margin-right: 4.5rem;
  width: 8rem;
}

.book-trip:hover,
.aprove-button:hover,
.delete-button:hover  {
  background-color: white;
  color: $dimgray;
  opacity: 1;
}

.traveler-access-line {
  margin-bottom: 2.5rem;
  width: 90%;
}

.user-access-page-subheader,
.agent-access-page-subheader {
  @include font(1.5rem);
  font-weight: 500;
  margin: 1rem;
}

.agent-access-page-subheader {

}

.total-cost {
  @include font(1rem);
  margin-bottom: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-trip-wrapper,
.trip-request-wrapper {
  align-items: center;
  background: $dimgray;
  border: 1px solid $lightergray;
  border-style: inset;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30rem;
  width: auto;
  margin: 1rem;
  padding-bottom: 2rem;
}

.trip-image {
  margin: 1rem;
}

img {
  height: 24rem;
}

li {
  color: white;
  margin-top: 4rem;
}

.destination-image {
  margin: 1rem;
}

// Agent access Page
.agent-access {
  display: flex;
  flex-direction: column;
}

.agent-subtitle {
  margin: 1rem;
}

.trip-request-wrapper {
  background-color: white;
  border: none;
  display: flex;
  height: auto;
  margin: 1rem;
}

.trip-request {
  color: $dimgray;

  border-style: inset;
}

.pending-trip {
  border: 1.5px solid $lightergray;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 1rem;
}

.pending-name,
.pending-date,
.pending-numtrav,
.pending-destination {
  color: $dimgray;
  margin: .5rem;
  text-align: center;
}

.trip-request {

}

.agent-buttons {
  display: flex;
  justify-content: center;
}

.aprove-button,
.delete-button {
  margin: .5rem;
  width: 7rem;
}







  // loading icon (while fetching data)
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: $dimgray;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

//
