// COLORS
$cedar: #815C41;
$pecan: #8E563B;
$coffee: #856437;
$caramel: #B37D50;

$off-white: #F9F9F9;
$peanut: #CEA380;
$pistachio: #EDCDA8;
$dimgray: #2D2D2D;
$lightgray: #8C939D;
$hoverLightBlue: #d8e1e6;
// $hover: #4F4F4F;
$lightergray: #696969;



//
